@import '../../styles/variables.scss';

.hero {
  background-color: $white-gray;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
  align-items: center;
  height: 100vh;
}

.content {
  max-width: 600px; 
  width: 100%;  
}

.img {
  max-width: 600px;
  width: 100%;
  object-fit: contain;
}

.title {
  font-size: 84px;
  font-weight: 500;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}