$primary-color: lightblue;
@import 'loaders.css/src/animations/ball-scale-ripple.scss';

* {
  box-sizing: border-box;
}
// loader
.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

// flex
.flex {
  display: flex;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

// margins and paddings
.mt-60 {
  margin-top: 60px;
}

.mr-8 {
  margin-right: 8px;
}