.card {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  align-items: center;
  max-width: 400px;
  width: 100%;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  }
  cursor: pointer;
}

.img {
  width: 100%;
}

.cardImage {
  object-fit: cover;
}

.cardContent {
  padding: 0 20px 20px;
}

.tags {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 14px;
  color: gray;
}