@import '../../styles/variables.scss';

.button {
  z-index: 9;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: $white;
	box-shadow: inset 0px 0px 0px $alpha-1, 4px 6px 8px $alpha-1;
	cursor: pointer;
	transition: box-shadow 0.2s;

	&:hover {
		box-shadow: inset 4px 6px 8px $alpha-1, 0 0 0 $alpha-1;
	}
}

.hide {
  display: none;
}

.icon {
  font-size: 32px;
  color: $gray;
  transition: 0.4s;
}