.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 8px;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  align-items: center;
  max-width: 250px;
  width: 100%;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  }
}

.cardHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tag {
  background-color: rgb(140, 178, 190);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 15px;
  font-size: 10px;
}

.anchor {
  color: rgb(140, 178, 190);
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
}

.paragraph {
  font-size: 14px;
  margin-top: 0;
  text-align: center;
  flex-grow: 1;
}