@import '../../styles/variables.scss';

.header {
	position: absolute;
	top: 0;
	left: 0;
	padding: 40px 40px;
	background-color: $white-gray;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	.header {
		width: 100%;
	}

	.nav {
		display: flex;
		flex-direction: row;
	}
}
